// Portfolio shared styles
.post-type-archive-jetpack-portfolio,
.single-jetpack-portfolio {
    background-color: $color__background-body-portfolio;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .site-header a:hover,
    a:hover,
    a.button:hover {
        color: $color__link-portfolio-hover;
    }

    .site-content {
        margin: 0;
        padding-top: 0;
    }
    .content-area {
        max-width: 100%;
        padding: 0;
        margin: 0;
    }

    .hentry {
        border: none;
        margin: 0;
        padding: 0;
        a {
            text-decoration: none;
        }
    }

    .project-header {
        position: relative;

        padding: ms(2);
        text-align: center;

        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        .project-header-content {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            padding: 0 ms(2);
            @include transform(translateY(-50%));
        }


        h1, h2 {
            margin: 0;
        }
        .project-intro {
            font-size: ms(-1);
            font-style: italic;
            max-width: ms(17);
            margin: 0 auto;
            @include respondTo(atleast-medium) {
                font-size: ms(-2);
            }
        }
    }
}

// Portfolio Archive
.post-type-archive-jetpack-portfolio {
    .content-area {
        overflow: hidden;
    }

    .project {
       height: 80vh;
       @include respondTo(atleast-wide-medium-height) {
            width: 50vw;
            height: 32vw;
            float: left;
            &:first-child {
                width: 100vw;
                height: 62vw;
                max-height: 90vh;
            }
        }
        @include respondTo(atleast-wide-medium-height) {
            .project-header h2 {
                font-size: ms(2);
            }

            &:first-child .project-header h2 {
                font-size: ms(4);
            }
        }
    }
    .project-header {
        width: 100%;
        height: 100%;
    }
}


// Portfolio Singular
.single-jetpack-portfolio {
    .project-header {
        width: 100%;
        height: 100vh;
        background-attachment: fixed;
    }

    .entry-content {
        margin: 0;
        padding: 0 ms(0);
        background: $color__background-portfolio-description;
        color: $color__text-portfolio-description;

        .project-url {
            text-align: center;
            margin: 0 auto ms(8);
            &.closer {
                margin-top: ms(8);
            }
            a.button {
                display: inline-block;
                margin: 0;
                padding: ms(0) ms(0) (ms(0)-0.1em);
                @include text-format(heading-small);
                font-size: ms(-1);
                line-height: 0;
                border-radius: 3px;
                text-decoration: none;
                color: $color__link;
                &:hover {
                    color: $color__link-portfolio-hover;
                }
            }
        }

        .entry-description,
        .entry-image-description {
            width: 100%;
            max-width: ms(17);
            margin: 0 auto;
            padding: ms(8) 0;
            .small {
                font-size: ms(-1);
                @include respondTo(atleast-narrow) {
                    
                    font-size: ms(-2);
                }
            }
        }

        .entry-image,
        .entry-video {
            margin: 0;
            margin-right: -(ms(0));
            margin-left: -(ms(0));
            p {
                margin: 0;
            }
            img {
                width: 100%;
                max-width: 100%;
                margin: 0;
                line-height: 0;
                display: block;
            }
            &.double {
                overflow: hidden;
                img {
                    margin: 0;
                    line-height: 0;
                    @include respondTo(atleast-medium) {
                        width: 50%;
                        float: left;
                    }
                }
            }
        }

        .entry-image-description {
            padding-right: ms(0);
            padding-left: ms(0);
            clear: both;
            text-align: center;
            @include respondTo(atleast-narrow) {
                font-size: ms(-1);
            }
            @include respondTo(atleast-medium) {
                font-size: ms(-2);
            }
            h2 {
                font-size: ms(2);
                margin: 0;
                color: $color__text-portfolio-description;
            }
            p {
                margin-top: ms(0);
            }
        }

        a {
            color: $color__link-portfolio-description;
            text-decoration: underline;
            &:visited {
                color: $color__link-portfolio-description;
            }
            &:hover,
            &:focus,
            &:active {
                color: $color__link-portfolio-description-hover;
                text-decoration: none;
            }
        }


    }
}



// Portfolio Singular Specifics

// Color Variables
$color_portfolio_thefivethemes-primary: #64c8be;
$color_portfolio_thefivethemes-secondary: #0F375F;
$color_portfolio_wordpresscom-primary: #0087be;
$color_portfolio_wordpresscom-secondary: #87a6bc;
$color_portfolio_orbitalis-primary: lighten(#0a3264,10%);
$color_portfolio_orbitalis-secondary: #501441;
$color_portfolio_vitesseenvogue-primary: #B62079;
$color_portfolio_vitesseenvogue-secondary: darken(#B62079,10%);;
$color_portfolio_underscores-primary: #757D98;
$color_portfolio_underscores-secondary: #8CC7C2;

// Mixins
@mixin project-logo($project-logo-url) {
    .project-header-content {
        .project-title {
            text-indent: -9999px;
            position: relative;
            top: 0;
            left: 50%;
            @include transform(translateX(-50%));
            width: 100%;
            max-width: 500px;
            background: url('images/#{$project-logo-url}-logo.png') no-repeat center center;
            background-size: 100%;
            @include animation(fadein 0.5s ease-in 1s backwards);
            &:after {
                content: '';
                display: block;
                padding-top: 100%;
            }
        }
    }
}
@mixin project-links($project-url-color-a,$project-url-color-b: $project-url-color-a) {
    a {
        color: rgba($project-url-color-a,.7);
        text-decoration: underline;
        &:visited {
            color: rgba($project-url-color-a,.7);
        }
        &:hover,
        &:focus,
        &:active {
            color: rgba($project-url-color-a,.9);
            text-decoration: none;
        }
        &.button {
            background: rgba($project-url-color-b,.8);
            &:hover {
                background: lighten($project-url-color-b,3%);
            }
        }
    }
}

// Specifics
.jetpack-portfolio-thefivethemes {
    background-color: $color_portfolio_thefivethemes-primary;
    @include project-logo(thefivethemes);
    .entry-content {
        background: lighten($color_portfolio_thefivethemes-primary,30%);
        .entry-description,
        .entry-image-description,
        .entry-description h2,
        .entry-image-description h2 {
            color: rgba($color_portfolio_thefivethemes-secondary,.5);
        }
        @include project-links($color_portfolio_thefivethemes-secondary, $color_portfolio_thefivethemes-primary);
    }
}

.jetpack-portfolio-wordpress-com {
    background-color: $color_portfolio_wordpresscom-primary;
    @include project-logo(wpcom);
    .entry-content {
        background: mix(white,$color_portfolio_wordpresscom-secondary,70%);
        .entry-description,
        .entry-image-description,
        .entry-description h2,
        .entry-image-description h2 {
            color: $color_portfolio_wordpresscom-secondary;
        }
        @include project-links($color_portfolio_wordpresscom-secondary,$color_portfolio_wordpresscom-primary);
    }
}

.jetpack-portfolio-orbitalis {
    background-color: $color_portfolio_orbitalis-primary;
    @include project-logo(orbitalis);
    .entry-content {
        .entry-description,
        .entry-image-description,
        .entry-description h2,
        .entry-image-description h2 {
            color: rgba($color_portfolio_orbitalis-primary,.5);
        }
        @include project-links($color_portfolio_orbitalis-primary);
    }
}

.jetpack-portfolio-vitesse-en-vogue {
    background-color: $color_portfolio_vitesseenvogue-primary;
    @include project-logo(vitesseenvogue);
    .entry-content {
        .entry-description,
        .entry-image-description,
        .entry-description h2,
        .entry-image-description h2 {
            color: rgba($color_portfolio_vitesseenvogue-secondary,.6);
        }
        @include project-links($color_portfolio_vitesseenvogue-primary);
    }
}

.jetpack-portfolio-underscores-me {
    background-color: $color_portfolio_underscores-primary;
    @include project-logo(underscoresme);
    .entry-content {
        .entry-description,
        .entry-image-description,
        .entry-description h2,
        .entry-image-description h2 {
            color: rgba($color_portfolio_underscores-primary,.5);
        }
        @include project-links($color_portfolio_underscores-primary,$color_portfolio_underscores-secondary);
    }
}