// Portfolio shared styles
.post-type-archive-jetpack-portfolio,
.single-jetpack-portfolio {
    .site-header {

    }
    .site-content {
        margin: 0;
        padding-top: 0;
    }
    .content-area {
        max-width: 100%;
        padding: 0;
        margin: 0;
    }

    .hentry {
        border: none;
        margin: 0;
        padding: 0;
        a {
            text-decoration: none;
        }
    }

    .project-header {
        position: relative;

        padding: ms(2);
        text-align: center;

        background-position: center center;
        //background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;

        .project-header-content {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            padding: 0 ms(2);
            @include transform(translateY(-50%));
        }


        h1, h2 {
            margin: 0;
        }
        .project-intro {
            font-size: ms(-1);
            font-style: italic;
            max-width: ms(18);
            margin: 0 auto;
            @include respondTo(atleast-medium) {
                font-size: ms(-2);
            }
        }
    }
}

// Portfolio Archive
.post-type-archive-jetpack-portfolio {
    background-color: $color__background-body-portfolio;

    .content-area {
        overflow: hidden;
    }

    .project {
       height: 95vh;
       // @include respondTo(atleast-wide-medium-height) {
       //      width: 50vw;
       //      height: 50vh;
       //      float: left;
       //      &:first-child {
       //          width: 100vw;
       //          height: 50vh;
       //      }
       //  }
    }
    .project-header {
        width: 100%;
        height: 100%;
    }
}


// Portfolio Singular
.single-jetpack-portfolio {
    .project-header {
        width: 100%;
        height: 100vh;
        @include respondTo(atleast-wide) {
            height: 70vh
        }
    }

    .entry-content {
        margin: 0;
        padding: ms(2) ms(0);
        background: $color__background-portfolio-description;
        color: $color__text-portfolio-description;
        .wrap {
            max-width: ms(18);
            margin: 0 auto;
        }
        a.button {

        }
    }
}