/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header/header";

.site {
    width: 100vw;
    //@include clearfix;
}

.site-content {
    width: 100vw;
    margin-bottom: ms(4);
    padding-top: ms(10);

}

.content-area, 
.widget-area {
    max-width: ms(17);
    padding: ms(2);
    margin: 0 auto ms(2);
}

.content-area {

}

.widget-area,
.posts-navigation {
    overflow: hidden;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Site Sections
--------------------------------------------------------------*/
@import "site-sections/site-sections";

/*--------------------------------------------------------------
## Archive
--------------------------------------------------------------*/
@import "archive/archive";

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "primary/sharing";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer/footer";

/*--------------------------------------------------------------
## 404
--------------------------------------------------------------*/
@import "404/404";