html.wf-loading body,
html.wf-loading h1,
html.wf-loading h2,
html.wf-loading h3,
html.wf-loading h4,
html.wf-loading h5,
html.wf-loading h6,
html.wf-loading button,
html.wf-loading input,
html.wf-loading select,
html.wf-loading textarea,
 {
    opacity: 0;
}

body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 26px;
	line-height: $font__line-height-body;
    @include respondTo(upto-narrow) {
        font-size: 18px;
    }
    @include respondTo(atleast-ultra-wide) {
        font-size: 39px;
    }
}

@import "headings";

@import "copy";