html.wf-loading body,
html.wf-loading h1,
html.wf-loading h2,
html.wf-loading h3,
html.wf-loading h4,
html.wf-loading h5,
html.wf-loading h6,
html.wf-loading button,
html.wf-loading input,
html.wf-loading select,
html.wf-loading textarea,
 {
    opacity: 0;
}

body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 26px;
    //font-size: 2vw;
	line-height: $font__line-height-body;
    @include respondTo(upto-narrow) {
        font-size: 18px;
    }
    @include respondTo(atleast-ultra-wide) {
        font-size: 39px;
    }

    // Typographic magic

    text-rendering: optimizelegibility;

    -moz-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern=1";
    -ms-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    -webkit-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;

    -moz-font-feature-settings: "liga" 1;
    -moz-font-feature-settings: "liga=1";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga" 1;
    -webkit-font-feature-settings: "liga" 1;
    font-feature-settings: "liga" 1;
}

@import "headings";

@import "copy";