.site-footer {
    padding: ms(0) ms(0) ms(1);
    margin: ms(4) 0 0;
    color: $color__text-footer;
    .site-info {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        li {
            display: inline-block;
            text-transform: uppercase;
            @include text-format(heading-small);
            margin: 0;
            font-size: ms(-4);
            letter-spacing: ms(-10);
            @include respondTo(atleast-medium) {
                &:first-child {
                    margin-right: ms(2);
                }
            }   
        }
    }
    a {
        display: inline-block;
        color: $color__link-footer;
        text-decoration: none;
        &:hover {
            color: $color__link-footer-hover;
        }     
    }

    .home & {
        display: none;
    }
}