/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/

// Base Colors
$color__magenta: #be0082;
$color__yellow: #dcd264;
$color__offwhite: #f0f5f0;
$color__gray: #4c515c;

// Color Abstractions
$color__base: $color__gray;
$color__fill: $color__magenta;
$color__accent: $color__magenta;
$color__highlight: $color__yellow;

// Tints
$color__base-tint10: tint($color__base,10%);

$color__base-tint20: tint($color__base,20%);
$color__base-tint40: tint($color__base,40%);

$color__base-tint60: tint($color__base,60%);
$color__base-tint70: tint($color__base,70%);
$color__base-tint80: tint($color__base,80%);
$color__base-tint90: tint($color__base,90%);
$color__base-tint95: tint($color__base,95%);

$color__accent-tint10: tint($color__accent,10%);
$color__accent-tint20: tint($color__accent,20%);
$color__accent-tint60: tint($color__accent,60%);
$color__accent-tint90: tint($color__accent,90%);

$color__highlight-tint20: tint($color__highlight,20%);

// Tones
$color__accent-mix10: mix($color__base, $color__accent, 10%);
$color__accent-mix20: mix($color__base, $color__accent, 20%);
$color__accent-mix30: mix($color__base, $color__accent, 30%);
$color__accent-mix60: mix($color__base, $color__accent, 60%);

$color__highlight-mix60: mix($color__base, $color__highlight-tint20, 60%);

// Shades
// ...


/*--------------------------------------------------------------
# Color Applications
--------------------------------------------------------------*/

// Backgrounds

$color__background-body: $color__gray;
$color__background-body-home: $color__magenta;
$color__background-body-portfolio: $color__gray;
$color__background-body-about: mix($color__gray, $color__magenta,90%);

$color__background-404: darken($color__yellow,10%);
$color__background-screen: $color__offwhite;
$color__background-hr: rgba($color__offwhite,.15);
$color__background-pre: rgba($color__offwhite,.15);
$color__background-ins: rgba($color__offwhite,.15);
$color__background-table-header: rgba($color__gray,.05);

$color__background-portfolio-description: rgba($color__offwhite,.8);
$color__background-footer-contact: rgba($color__offwhite,.1);

// Text

$color__text-screen: $color__offwhite;
$color__text-input: $color__base-tint40;
$color__text-input-focus: $color__base-tint20;

$color__text-main: rgba($color__offwhite,.8);

$color__headings: rgba($color__offwhite,.6);

$color__text-soft: $color__base-tint60;
$color__text-softer: $color__base-tint80;



$color__text-blockquote: rgba($color__offwhite,.8);
$color__text-blockquote-cite: rgba($color__offwhite,.6);

$color__text-header: rgba($color__offwhite,.4);
$color__text-secondary: rgba($color__base,.5);

$color__text-footer: rgba($color__offwhite,.5);

$color__text-portfolio-description: rgba($color__background-body-portfolio,.8);

// Links

$color__link: rgba($color__offwhite,.8);
$color__link-visited: rgba($color__offwhite,.8);
$color__link-hover: $color__highlight;

$color__link-button: rgba($color__gray,.2);
$color__link-button-hover: rgba($color__gray,.1);

$color__link-header: rgba($color__offwhite,.8);
$color__link-header-nav: rgba($color__offwhite,.6);
$color__link-header-hover: $color__highlight;

$color__link-secondary-hover: rgba($color__base,.8);

$color__link-post-title: $color__base-tint40;
$color__link-post-title-hover: $color__accent;

$color__link-footer: rgba($color__offwhite,.6);
$color__link-footer-hover: $color__offwhite;

$color__sharedaddy-icon: $color__base-tint80;
$color__sharedaddy-icon-hover: $color__base-tint60;


$color__link-portfolio-hover: $color__offwhite;
$color__link-portfolio-description: rgba($color__background-body-portfolio,.8);
$color__link-portfolio-description-hover: rgba($color__background-body-portfolio,1);


$color__asidelink: $color__base-tint60;
$color__asidelink-hover: $color__accent;

$color__headernavlink: rgba($color__base-tint90,.7);
$color__headernavlink-hover: $color__offwhite;


// Forms

$color__background-button: $color__accent;
$color__background-button-hover: $color__accent-tint20;
$color__background-button-focus: $color__accent-mix10;

$color__text-button: $color__accent-tint90;
$color__text-button-hover: $color__offwhite;
$color__textshadow-button-hover: $color__accent-mix20;

$color__border-button: $color__accent $color__accent-mix20 $color__accent-mix20;
$color__border-button-hover: $color__accent-tint20 $color__accent-tint10 $color__accent-mix10;
$color__border-button-focus: $color__accent-mix20 $color__accent-mix20 $color__accent-mix20;

$color__outilne-button-focus: $color__accent-tint60;
$color__outilne-field-focus: $color__base-tint90;

$color__border-input: $color__base-tint80;
$color__border-abbr: $color__base-tint60;


// Others
$color__border-base: rgba($color__offwhite,.15);
$color__border-secondary: rgba($color__base,.3);
$color__border-sidebar-navigation: $color__base-tint80;
$color__border-table-row: rgba($color__base,.03);

$color__boxshadow-primary: #000;